@charset "utef-8";

html {
    font-size:62.5%;
}

body {
    font-size: 2rem;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    background-color:#c3f1ff;
    text-align:center;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

#content01 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-01.png);
    background-size: cover;
}

#content02 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-02.png);
    background-size: cover;
}

#content03 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-03.png);
    background-size: cover;
}

#content04 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-04.png);
    background-size: cover;
}

#content05 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-05.png);
    background-size: cover;
}

#content06 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-06.png);
    background-size: cover;
}

#content07 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-07.png);
    background-size: cover;
}

#content08 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-08.png);
    background-size: cover;
}

#content09 {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    background-image: url(../img/bard-09.png);
    background-size: cover;
}

.contents {
    position: absolute;
    width: 300px;
    top :50%;
    left: 65px;
}

.counter__soon {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #5d5e89;
    color: #fff;
    padding: 30px;
    margin: 40px auto;
    width: 190px;
}

/*ーーーー カウンター ーーーー*/

.counter__Number {
    font-size: 1.6rem;
    font-weight: bold;
    border: #5d5e89 solid 2px;
    background-color: #fff;
    padding: 10px;
    margin: 10px auto;
    width: 230px;
}

.counter__num {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(187, 3, 3);
}

.couter__button {
    display: flex;
    justify-content: space-between;
}

.bule {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: cornflowerblue;
    align-items: center;
    font-size: 2.4rem;
    border: none;
}

.pink {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(250, 98, 174);
    align-items: center;
    font-size: 2.4rem;
    border: none;
}

.reset {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    background-color: #5d5e89;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}


/*ーーーー ストップウォッチ ーーーー*/

.counter__stopWatch {
    font-weight: bold;
    background-color: #5d5e89;
    border-radius: 20px;
    color: #fff;
    padding: 25px;
    margin: 20px auto;
    width: 230px;
}

.counter__stopWatch--title {
    font-size: 2rem;
}

.counter__stopWatch--Number {
    border: #5d5e89 solid 2px;
    background-color: #fff;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    color: #5d5e89;
}

.counter__stopWatch--lap {
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 10px;
}

.counter__stopWatch--item {
    margin-top: 5px;
}


/*ーーーー デジタル時計 ーーーー*/

.counter__digitalClock {
    font-weight: bold;
    background-color: #5d5e89;
    border-radius: 20px;
    color: #fff;
    padding: 25px;
    margin: 20px auto;
    width: 230px;
}

.counter__digitalClock--Number {
    border: #5d5e89 solid 2px;
    background-color: #fff;
    padding:10px;
    margin: 10px auto 0;
    width: 90%;
    color: #000;
}

.counter__digitalClock--date {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.counter__digitalClock--time {
    font-size: 3.5rem;
}


@media screen and (max-width: 560px)  {
    .wrapper {
        margin: 0 auto;
        flex-direction: column;
    }
}