<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ress.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Vueでのミニアプリ集</title>
</head>
<body>
<div class="wrapper">
    <div id="content01">
        <div class="contents">
            <div class="counter__Number">
                <p>カウンター : 現在<span class="counter__num"> {{number}}</span> 回</p>
            </div>
            <div class="counter__button">
                <button class="bule" v-on:click="countUp(-10)">-10</button>
                <button class="bule" v-on:click="countUp(-1)">-1</button>
                <button class="pink" v-on:click="countUp(1)">+1</button>
                <button class="pink" v-on:click="countUp(10)">+10</button>
            </div>
            <button class="reset"  v-on:click="countReset">リセット</button>
        </div>
    </div>

    <div id="content02">
        <div class="contents">
            <div class="counter__stopWatch">
                <p class="counter__stopWatch--title">ストップウォッチ</p>
                <p class="counter__stopWatch--Number">
                    {{ hours }} :
                    {{ minutes | zeroPad }} :
                    {{ seconds | zeroPad }} :
                    {{ milliSeconds | zeroPad(3)}}
                </p>

                <div class="counter__button">
                    <button class="ui secondary button" @click="startTimer" :disabled="isRunning">START</button>
                    <button class="ui button" @click="pushTime" :disabled="!isRunning">LAP</button>
                    <button class="ui button" @click="stopTimer" :disabled="!isRunning">STOP</button>
                    <button class="ui basic button" @click="clearAll">CLEAR</button>
                </div>
                <ul class="counter__stopWatch--lap" v-if="times.length">
                    <li class="counter__stopWatch--item" v-for="item in times">
                    {{ item.hours  }} :
                    {{ item.minutes | zeroPad }} :
                    {{ item.seconds | zeroPad }} :
                    {{ item.milliSeconds | zeroPad(3) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content03">
        <div class="contents">
            <div class="counter__digitalClock">
                <p class="counter__digitalClock--title">デジタル時計</p>
                <div class="counter__digitalClock--Number">
                    <p class="counter__digitalClock--date">{{date}}</p>
                    <p class="counter__digitalClock--time">{{time}}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="content04">
        <div class="contents">
            <div class="color-form">
                <p>カラーコード</p>
                <div class="color-form__item">
                    <input type="range" name="r" id="r" max="255" v-model="r">
                    <span v-bind:style="{background: 'rgb('+r+', 0, 0)'}">R</span>
                </div>
                <div class="color-form__item">
                    <input type="range" name="g" id="g" max="255" v-model="g">
                    <span v-bind:style="{background: 'rgb(0, '+g+', 0)'}">G</span>
                </div>
                <div class="color-form__item">
                    <input type="range" name="b" id="b" max="255" v-model="b">
                    <span v-bind:style="{background: 'rgb(0, 0, '+b+')'}">B</span>
                </div>
                <div class="color__item" v-bind:style="{background: 'rgb('+r+', '+g+', '+b+')'}">rgb({{r}}, {{g}}, {{b}})</div>
                <a href="javascript:void(0);" class="color__stock" v-on:click="stockColor">
                    ストックする
                </a>

                <div class="l-side">
                    <ul class="color-list">
                        <li class="color-list__item" v-for="( color, index ) in colors">
                            <p class="color-list__code" v-bind:style="{background: color}">{{ color }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content05">
        <div class="contents">
            <div class="calculator-form">
                <p>簡易電卓</p>
                <table class="calculator-table">
                    <tr class="calculator-tr">
                        <td colspan="3">
                            <input type="text" id="output" value="0" v-model="result">
                        </td>
                        <td>
                            <button value="c" @click="calculate('c')" class="calculator-button01">C</button>
                        </td>
                    </tr>
                    <tr v-for="row in items">
                        <td v-for="column in row">
                            <button v-on:click="calculate(column)" class="calculator-button02">{{column}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="content06">
        <div class="contents">
            <div class="counter__soon">
                <p>モーダルウィンドウ</p>
            </div>
        </div>
    </div>

    <div id="content07">
        <div class="contents">
            <div class="counter__soon">
                <p>住所自動入力</p>
            </div>
        </div>
    </div>

    <div id="content08">
        <div class="contents">
            <div class="counter__soon">
                <p>comming soon</p>
            </div>
        </div>
    </div>

    <div id="content09">
        <div class="contents">
            <div class="counter__soon">
                <p>comming soon</p>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>